<html>
    <head>
        <title>Wheatley</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script>
            function update_e_socket(socket_type) {
                $.get('/socket/' + socket_type,);
            }
        </script>
    </head>
    <style type="text/css">
        body { background: black !important; }
    </style>
    <div class="text-center">
        <br>
        <h3 class="text-light">Wheatley is watching</h3>
        <br>
        <br>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-2">
            <div class="text-center">
                <div class="img">
                    <img class="d-block mx-auto" src="static/images/wheatley.png" alt="Wheatley is watching">
                </div>
            </div>
            <br>
            <!-- Rounded switch -->
            <button  class="btn btn-primary btn-lg btn-block" onClick="update_e_socket('Wall Light')">
                Wall Light
            </button>
            <br>
            <button  class="btn btn-primary btn-lg btn-block" onClick="update_e_socket('Bed Light')">
                Bed Light
            </button>
            <br>
            <button  class="btn btn-primary btn-lg btn-block" onClick="update_e_socket('Music Power')">
                Music Power
            </button>
            <br>
            <button  class="btn btn-primary btn-lg btn-block" onClick="update_e_socket('Monitor Power')">
                Monitor Power
            </button>
        </div>
        <div class="col"></div>
    </div>
</html>